.page{
    min-height: 100%; height: 100%;
   }
   .cuerpo{
       height: 100%;
       width: 100%;
       padding: 2%;
       
   }
   .form__group {
     position: relative;
     padding: 15px 0 0;
     margin-top: 10px;
     width: 50%;
   }
   
   .form__field {
     font-family:'Courier New', Courier, monospace;
     width: 40%;
     border: 0;
     border-bottom: 2px solid #9b9b9b;
     outline: 0;
     font-size: 1.3rem;
     color: #211f1f;
     padding: 7px 0;
     background: transparent;
     transition: border-color 0.2s;
   
     &::placeholder {
       color: transparent;
     }
   
     &:placeholder-shown ~ .form__label {
       font-size: 1.3rem;
       cursor: text;
       top: 20px;
     }
   }
   
   .form__label {
     position: absolute;
     top: 0;
     display: block;
     transition: 0.2s;
     font-size: 1rem;
     color: #9b9b9b;
   }
   
   .form__field:focus {
     ~ .form__label {
       position: absolute;
       top: 0;
       display: block;
       transition: 0.2s;
       font-size: 1rem;
       color:#11998e;
       font-weight:700;    
     }
     padding-bottom: 6px;  
     font-weight: 700;
     border-width: 3px;
     border-image: linear-gradient(to right, #11998e,#38ef7d);
     border-image-slice: 1;
   }
   /* reset input */
   .form__field{
     &:required,&:invalid { box-shadow:none; }
   }
   .label1{
       
       font-size: 1.5rem;
   }
   /* CSS */
   .button-22 {
     align-items: center;
     appearance: button;
     background-color: #202A62;
     border-radius: 8px;
     border-style: none;
     box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
     box-sizing: border-box;
     color: #fff;
     cursor: pointer;
     display: flex;
     flex-direction: row;
     flex-shrink: 0;
     font-family: "RM Neue",sans-serif;
     font-size: 100%;
     line-height: 1.15;
     margin: 3%;
     margin-left: 85%;
     padding: 10px 21px;
     text-align: center;
     text-transform: none;
     transition: color 1.13s ease-in-out,background 1.13s ease-in-out,opacity 1.13s ease-in-out,box-shadow 1.13s ease-in-out;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
   
   }
   
   .button-22:active {
     background-color: #2a398d;
   }
   
   .button-22:hover {
     background-color: #2d3c93;
   }
   .menusuperior{
   
     height: 10vh;
   
   }
   .body-panel{
    width: 100%;
     display: grid;
     grid-template-columns: repeat(4,25%);
     justify-content: center;
     
    }
    .mat-elevation-z8{
   margin-top: 5%;
    }
    