<mat-tab-group  color="primary" backgroundColor="primary">

<mat-tab label="Datos Personales" aria-label="primary">
<div class="contenido">
<label> Nombre: {{estudiante.nombre}} </label>
<label>Apellidos: {{estudiante.apellidos}} </label>
<label>CI: {{estudiante.carnetIdentidad}} </label>
<label>Provincia: {{estudiante.provincia}} </label>
<label>Municipio: {{estudiante.municipio}} </label>
<label>Direccion: {{estudiante.direccion}} </label>
<label>Sexo: {{estudiante.sexo}} </label>
</div>
</mat-tab>
<mat-tab label="Datos Sociales" aria-label="primary">
    <div class="contenido">
<label>Color de Piel: {{estudiante.colorPiel}} </label>
<label>Escolaridad de la Madre: {{estudiante.escolaridadMadre}} </label>
<label>Ocupacion de la Madre: {{estudiante.ocupacionMadre}} </label>
<label>Sector Laboral de la Madre: {{estudiante.sectorLaboralMadre}} </label>
<label>Escolaridad del Padre: {{estudiante.escolaridadPadre}} </label>
<label>Ocupacion del Padre: {{estudiante.ocupacionPadre}} </label>
<label>Sector Laboral del Padre: {{estudiante.sectorLaboralPadre}} </label>
</div>
</mat-tab>
<mat-tab label="Datos Academicos" aria-label="primary">
    <div class="contenido">
<label>Fuente de Ingreso: {{estudiante.fuenteIngreso}} </label>
<label>Tipo de PRE: {{estudiante.tipoPRE}} </label>
<label>Preuniversitario: {{estudiante.preuniversitario}} </label>
<label>Provincia del Preuniversitario: {{estudiante.provinciaPreuniversitario}} </label>
<label>Municipio del Preuniversitario: {{estudiante.municipioPreuniversitario}} </label>
<label>Vía de Ingreso: {{estudiante.viaIngreso}} </label>
<label>Procedencia: {{estudiante.procedenciaConcurso}} </label>
<label>Situación: {{estudiante.situacionConcurso}} </label>
<label>Índice Académico: {{estudiante.indiceAcademico}} </label>
<label>Resultados Convocatoria Ordinaria: {{estudiante.resultadosConvocatoriaOrdinaria}} </label>
<label>Resultados Convocatoria Extraordinaria: {{estudiante.resultadosConvocatoriaExtraordinaria}} </label>
<label>Nota Válida: {{estudiante.notaValida}} </label>
<label>Escalafón: {{estudiante. escalafon}} </label>
</div>
</mat-tab>
<mat-tab label="Datos de Otorgamiento" aria-label="primary">
    <div class="contenido">
<label>Opciones Convocatoria Ordinaria: {{estudiante.opcionesConvocatoriaOrdinaria}} </label>
<label>Opciones Convocatoria Extraordinaria: {{estudiante.opcionesConvocatoriaExtraordinaria}} </label>
<label>Nombre Carrera: {{estudiante. nombreCarrera}} </label>
<label>Código Carrera: {{estudiante.codigoCarrera}} </label>
<label>Modalidad: {{estudiante. modalidad}} </label>
<label>CES: {{estudiante.CES}} </label>
<label>Convocatoria: {{estudiante.convocatoria}} </label>
<label>SMA: {{estudiante.SMA}} </label>
</div>
</mat-tab>
</mat-tab-group>